@font-face {
  font-family: 'nunitosans';
  src: url('../fonts/nunitosans-regular-webfont.woff2') format('woff2'), url('../fonts/nunitosans-regular-webfont.woff') format('woff'), url('../fonts/nunitosans-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'nunitosans-italic';
  src: url('../fonts/nunitosans-italic-webfont.woff2') format('woff2'), url('../fonts/nunitosans-italic-webfont.woff') format('woff'), url('../fonts/nunitosans-italic-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'yesevaone';
  src: url('../fonts/yesevaone-regular_v2-webfont.woff2') format('woff2'), url('../fonts/yesevaone-regular_v2-webfont.woff') format('woff'), url('../fonts/yesevaone-regular_v2-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}
.button {
  font-style: "nunitosans-italic", sans-serif;
  font-style: italic;
  font-size: 11px;
  border-radius: 2px;
  background-color: #e3b873;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.2);
          box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.2);
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  cursor: pointer;
}
.button:hover {
  background: #dba249;
}
.button:active {
  color: #b3b3b3;
  background-color: #f4e3c8;
}
.header-button {
  padding: 13px 33px;
  cursor: pointer;
}
.main-home__button {
  width: 207px;
  height: 51px;
  margin-right: 20px;
}
.transparent {
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid #ffffff;
}
.button-left,
.button-right {
  background: none;
  border: none;
  cursor: pointer;
}
.arrow-left,
.arrow-right {
  fill: #ffffff;
}
.button-left .arrow-left:hover,
.button-right .arrow-right:hover {
  fill: rgba(255, 255, 255, 0.3);
}
.arrow-right {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.button-center {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  border: none;
  padding: 0;
}
.button-center:hover {
  background-color: #ffffff;
}
.active-button {
  background-color: #ffffff;
}
.main-projects__slider-nav > button:not(:last-child) {
  margin-right: 17px;
}
.main-projects__slider-nav button:nth-last-child(2) {
  margin-right: 0;
}
.main-projects__slider-nav button:first-child {
  margin-right: 29px;
}
.main-projects__slider-nav button:last-child {
  margin-left: 29px;
}
.main-video__button {
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85px;
  height: 85px;
  border-radius: 100%;
  padding: 0;
  border: none;
  background-color: #e3b873;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
.main-video__button .play-ico {
  position: absolute;
  width: 0;
  height: 0;
  left: 40%;
  -webkit-transform: translate(-40%, 0);
          transform: translate(-40%, 0);
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 20px solid #ffffff;
  rotate: 90deg;
}
.main-video__button:hover {
  background-color: #dba249;
}
.main-video__button:active {
  background-color: #ebce9d;
}
.main-video__button:focus {
  -webkit-box-shadow: 0px 0px 0px 1px #ffffff;
  box-shadow: 0px 0px 0px 1px #ffffff;
}
.title {
  font-family: "yesevaone", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #e3b873;
  line-height: 138.6%;
  /* 24.948px */
  text-transform: uppercase;
}
.main-home__h1 {
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  line-height: 138.6%;
  /* 24.948px */
  text-transform: uppercase;
  font-family: "yesevaone", sans-serif;
  font-size: 40px;
  margin: 0;
  padding-top: 194px;
  padding-bottom: 19px;
}
.main-home__h1 span {
  color: #e3b873;
}
.main-projects__h2 {
  font-family: "yesevaone", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #e3b873;
  line-height: 138.6%;
  /* 24.948px */
  text-transform: uppercase;
  font-size: 27px;
  letter-spacing: -1.89px;
  margin: 0;
  padding-top: 176px;
}
.main-projects__h3 {
  font-family: "yesevaone", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #e3b873;
  line-height: 138.6%;
  /* 24.948px */
  text-transform: uppercase;
  font-size: 18px;
}
.main-video__h2,
.main-repair__h2,
.main-clients__h2 {
  text-align: center;
  font-size: 20px;
  margin: 0;
}
.main-video__h2 {
  font-family: "yesevaone", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  line-height: 138.6%;
  /* 24.948px */
  text-transform: uppercase;
  padding-top: 92px;
}
.main-repair__h2,
.main-clients__h2 {
  font-family: "yesevaone", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #181818;
  line-height: 138.6%;
  /* 24.948px */
  text-transform: uppercase;
}
.main-repair__h3,
.main-claients__h3 {
  font-family: "yesevaone", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #363636;
  line-height: 138.6%;
  /* 24.948px */
  text-transform: uppercase;
  text-transform: capitalize;
  margin: 0;
}
.main-repair__h3 {
  font-family: "yesevaone", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #363636;
  line-height: 138.6%;
  /* 24.948px */
  text-transform: uppercase;
  font-size: 18px;
  text-transform: capitalize;
  margin: 0;
  padding-bottom: 13px;
}
.main-measurement__h2 {
  width: 220px;
  margin: 0 auto;
  padding-top: 28px;
  padding-bottom: 39px;
  font-family: "nunitosans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  line-height: 143.22%;
  /* 25.78px */
}
.main-gallery__h2 {
  font-family: "yesevaone", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #e3b873;
  line-height: 138.6%;
  /* 24.948px */
  text-transform: uppercase;
  padding-bottom: 47px;
}
.main-clients__h2 {
  padding-top: 110px;
}
.main-claients__h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-left: 100px;
  padding-bottom: 40px;
}
.main-claients__h3::before {
  position: absolute;
  content: "";
  width: 76px;
  height: 76px;
  border-radius: 100%;
  left: 0;
}
.client-1::before {
  background: center / contain no-repeat url("../images/client_1.jpg");
}
.client-2::before {
  background: center / contain no-repeat url("../images/client_2.jpg");
}
.client-3::before {
  background: center / contain no-repeat url("../images/client_3.jpg");
}
.main-contacts__h2 {
  font-family: "yesevaone", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  line-height: 138.6%;
  /* 24.948px */
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  padding-top: 34px;
  padding-bottom: 45px;
}
.secondary-color {
  margin: 0 auto;
  color: #e3b873;
  padding-top: 275px;
  padding-bottom: 26px;
  width: 50%;
}
.main-contacts__ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  padding-bottom: 43px;
}
.main-contacts__ico a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 28px;
  height: 28px;
  stroke: #ffffff;
  background-color: #e3b873;
  border-radius: 100%;
}
.main-contacts__ico a:hover {
  color: #cccccc;
  background-color: #dba249;
}
.main-contacts__ico a:active {
  background-color: #ebce9d;
}
.main-contacts__ico a:focus {
  -webkit-box-shadow: 0px 0px 0px 1px #ffffff;
          box-shadow: 0px 0px 0px 1px #ffffff;
}
.main-contacts__map {
  text-align: center;
  padding-bottom: 66px;
}
.header-link {
  color: #ffffff;
  text-decoration: none;
  margin-right: 47px;
  padding: 4px 0;
  /*
    &:focus{
        color: lighten(@secondary-color, 10%);

    }*/
}
.header-link:hover {
  color: #e3b873;
}
.header-link:active {
  color: #c88b28;
}
.header-logo {
  color: #e3b873;
}
.header-phone {
  color: #e3b873;
  text-align: right;
  font-size: 11px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.main-home__text {
  font-family: "nunitosans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  color: #ffffff;
  line-height: 163.68%;
  width: 504px;
  padding-bottom: 35px;
}
.main-projects__p {
  font-family: "nunitosans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  font-size: 14px;
  line-height: 190.96%;
  /* 26.734px */
}
.main-projects__text {
  font-family: "nunitosans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  font-size: 13px;
  line-height: 163.68%;
  /* 21.278px */
}
.main-video__p,
.main-clients__p {
  margin: 0 auto;
  font-family: "nunitosans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #363636;
  text-align: center;
  font-size: 18px;
}
.main-video__p {
  width: 53%;
  line-height: 204.6%;
  /* 36.828px */
  padding-bottom: 91px;
}
.main-video__p::before {
  display: block;
  content: "";
  width: 55px;
  border-top: 2px solid #e3b873;
  margin: 0 auto;
  padding-bottom: 34px;
}
.main-repair__list {
  font-family: "nunitosans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #959595;
  font-size: 13px;
  line-height: 204.6%;
  /* 26.598px */
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-clients__p {
  line-height: 163.68%;
  padding-bottom: 39px;
}
.main-clients__block-p {
  font-family: "nunitosans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #959595;
  font-size: 13px;
  line-height: 180%;
  /* 23.4px */
}
.main-video__wraper,
.main-repair__wraper,
.main-clients__wraper {
  margin: 0 auto;
  padding-top: 13px;
  padding-bottom: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.active {
  margin-right: 50px;
  font-family: "yesevaone", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #e3b873;
  line-height: 138.6%;
  /* 24.948px */
  text-transform: uppercase;
  font-size: 14px;
  border-bottom: 1px solid #e3b873;
  text-decoration: none;
}
.main-projects__link {
  margin-right: 50px;
  font-family: "yesevaone", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgba(255, 255, 255, 0.3);
  line-height: 138.6%;
  /* 24.948px */
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  white-space: nowrap;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}
.main-projects__link:hover {
  color: #ffffff;
}
.main-video__form label,
.main-measurement__form label,
.main-contacts__form label {
  font-family: "nunitosans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 163.68%;
  /* 21.278px */
}
.main-video__form input[type="text"],
.main-measurement__form input[type="text"],
.main-contacts__form input[type="text"],
.main-video__form input[type="phone"],
.main-measurement__form input[type="phone"],
.main-contacts__form input[type="phone"],
.main-video__form input[type="mail"],
.main-measurement__form input[type="mail"],
.main-contacts__form input[type="mail"],
.main-video__form input[type="textarea"],
.main-measurement__form input[type="textarea"],
.main-contacts__form input[type="textarea"] {
  width: auto;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #363636;
  padding: 7px 0;
}
.main-video__form input[type="text"]::-webkit-input-placeholder,
.main-measurement__form input[type="text"]::-webkit-input-placeholder,
.main-contacts__form input[type="text"]::-webkit-input-placeholder,
.main-video__form input[type="phone"]::-webkit-input-placeholder,
.main-measurement__form input[type="phone"]::-webkit-input-placeholder,
.main-contacts__form input[type="phone"]::-webkit-input-placeholder,
.main-video__form input[type="mail"]::-webkit-input-placeholder,
.main-measurement__form input[type="mail"]::-webkit-input-placeholder,
.main-contacts__form input[type="mail"]::-webkit-input-placeholder,
.main-video__form input[type="textarea"]::-webkit-input-placeholder,
.main-measurement__form input[type="textarea"]::-webkit-input-placeholder,
.main-contacts__form input[type="textarea"]::-webkit-input-placeholder {
  font-family: "nunitosans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 163.68%;
  /* 22.915px */
}
.main-video__form input[type="text"]:-ms-input-placeholder,
.main-measurement__form input[type="text"]:-ms-input-placeholder,
.main-contacts__form input[type="text"]:-ms-input-placeholder,
.main-video__form input[type="phone"]:-ms-input-placeholder,
.main-measurement__form input[type="phone"]:-ms-input-placeholder,
.main-contacts__form input[type="phone"]:-ms-input-placeholder,
.main-video__form input[type="mail"]:-ms-input-placeholder,
.main-measurement__form input[type="mail"]:-ms-input-placeholder,
.main-contacts__form input[type="mail"]:-ms-input-placeholder,
.main-video__form input[type="textarea"]:-ms-input-placeholder,
.main-measurement__form input[type="textarea"]:-ms-input-placeholder,
.main-contacts__form input[type="textarea"]:-ms-input-placeholder {
  font-family: "nunitosans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 163.68%;
  /* 22.915px */
}
.main-video__form input[type="text"]::-ms-input-placeholder,
.main-measurement__form input[type="text"]::-ms-input-placeholder,
.main-contacts__form input[type="text"]::-ms-input-placeholder,
.main-video__form input[type="phone"]::-ms-input-placeholder,
.main-measurement__form input[type="phone"]::-ms-input-placeholder,
.main-contacts__form input[type="phone"]::-ms-input-placeholder,
.main-video__form input[type="mail"]::-ms-input-placeholder,
.main-measurement__form input[type="mail"]::-ms-input-placeholder,
.main-contacts__form input[type="mail"]::-ms-input-placeholder,
.main-video__form input[type="textarea"]::-ms-input-placeholder,
.main-measurement__form input[type="textarea"]::-ms-input-placeholder,
.main-contacts__form input[type="textarea"]::-ms-input-placeholder {
  font-family: "nunitosans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 163.68%;
  /* 22.915px */
}
.main-video__form input[type="text"]::placeholder,
.main-measurement__form input[type="text"]::placeholder,
.main-contacts__form input[type="text"]::placeholder,
.main-video__form input[type="phone"]::placeholder,
.main-measurement__form input[type="phone"]::placeholder,
.main-contacts__form input[type="phone"]::placeholder,
.main-video__form input[type="mail"]::placeholder,
.main-measurement__form input[type="mail"]::placeholder,
.main-contacts__form input[type="mail"]::placeholder,
.main-video__form input[type="textarea"]::placeholder,
.main-measurement__form input[type="textarea"]::placeholder,
.main-contacts__form input[type="textarea"]::placeholder {
  font-family: "nunitosans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 163.68%;
  /* 22.915px */
}
.main-video__form input[type="text"]:focus,
.main-measurement__form input[type="text"]:focus,
.main-contacts__form input[type="text"]:focus,
.main-video__form input[type="phone"]:focus,
.main-measurement__form input[type="phone"]:focus,
.main-contacts__form input[type="phone"]:focus,
.main-video__form input[type="mail"]:focus,
.main-measurement__form input[type="mail"]:focus,
.main-contacts__form input[type="mail"]:focus,
.main-video__form input[type="textarea"]:focus,
.main-measurement__form input[type="textarea"]:focus,
.main-contacts__form input[type="textarea"]:focus {
  outline: none;
  -webkit-box-shadow: 0px 11px 8px -9px rgba(34, 60, 80, 0.2);
  -box-shadow: 0px 11px 8px -9px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 11px 8px -9px rgba(34, 60, 80, 0.2);
}
.main-video__form input[type="submit"],
.main-measurement__form input[type="submit"],
.main-contacts__form input[type="submit"] {
  border: none;
  background-color: #e3b873;
  font-family: "nunitosans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FFF;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
.main-video__form input[type="submit"]:hover,
.main-measurement__form input[type="submit"]:hover,
.main-contacts__form input[type="submit"]:hover {
  background-color: #dba249;
}
.main-video__form input[type="submit"]:active,
.main-measurement__form input[type="submit"]:active,
.main-contacts__form input[type="submit"]:active {
  background-color: #ebce9d;
}
.main-video__form label:last-child,
.main-measurement__form label:last-child,
.main-contacts__form label:last-child {
  display: inline-block;
  position: relative;
  padding-left: 27px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: auto;
  text-align: center;
  font-family: "nunitosans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 163.68%;
  /* 22.915px */
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}
.main-video__form label:last-child input[type="checkbox"],
.main-measurement__form label:last-child input[type="checkbox"],
.main-contacts__form label:last-child input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.main-video__form label:last-child .checkmark,
.main-measurement__form label:last-child .checkmark,
.main-contacts__form label:last-child .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
}
.main-video__form label:last-child:hover input[type="checkbox"] ~ .checkmark,
.main-measurement__form label:last-child:hover input[type="checkbox"] ~ .checkmark,
.main-contacts__form label:last-child:hover input[type="checkbox"] ~ .checkmark {
  background-color: #ccc;
}
.main-video__form label:last-child input[type="checkbox"]:checked ~ .checkmark,
.main-measurement__form label:last-child input[type="checkbox"]:checked ~ .checkmark,
.main-contacts__form label:last-child input[type="checkbox"]:checked ~ .checkmark {
  background-color: #e3b873;
}
.main-video__form label:last-child .checkmark:after,
.main-measurement__form label:last-child .checkmark:after,
.main-contacts__form label:last-child .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.main-video__form label:last-child input[type="checkbox"]:checked ~ .checkmark:after,
.main-measurement__form label:last-child input[type="checkbox"]:checked ~ .checkmark:after,
.main-contacts__form label:last-child input[type="checkbox"]:checked ~ .checkmark:after {
  display: block;
}
.main-video__form label:last-child .checkmark:after,
.main-measurement__form label:last-child .checkmark:after,
.main-contacts__form label:last-child .checkmark:after {
  left: 6px;
  top: 4px;
  width: 4px;
  height: 6px;
  border: solid white;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.main-video__form {
  margin: 0 auto;
  margin-bottom: 148px;
}
.main-video__form .main-video__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 231px;
  color: rgba(54, 54, 54, 0.5);
}
.main-video__form input[type="text"],
.main-video__form input[type="phone"] {
  color: #363636;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}
.main-video__form input[type="text"]::-webkit-input-placeholder,
.main-video__form input[type="phone"]::-webkit-input-placeholder {
  color: #363636;
}
.main-video__form input[type="text"]:-ms-input-placeholder,
.main-video__form input[type="phone"]:-ms-input-placeholder {
  color: #363636;
}
.main-video__form input[type="text"]::-ms-input-placeholder,
.main-video__form input[type="phone"]::-ms-input-placeholder {
  color: #363636;
}
.main-video__form input[type="text"]::placeholder,
.main-video__form input[type="phone"]::placeholder {
  color: #363636;
}
.main-video__form .container {
  width: 100%;
  text-align: center;
  padding-top: 39px;
}
.main-video__form input[type="text"] {
  margin-right: 58px;
}
.main-video__form input[type="phone"] {
  margin-right: 49px;
}
.main-video__form input[type="submit"] {
  padding: 20px 76px;
}
.main-video__form label:last-child {
  color: #181818;
}
.main-measurement__form {
  margin: 0 auto;
}
.main-measurement__form .main-measurement__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: rgba(255, 255, 255, 0.5);
}
.main-measurement__form input[type="text"],
.main-measurement__form input[type="phone"],
.main-measurement__form input[type="mail"] {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  background-color: transparent;
  color: #ffffff;
}
.main-measurement__form input[type="text"],
.main-measurement__form input[type="phone"] {
  margin-bottom: 48px;
}
.main-measurement__form input[type="mail"] {
  margin-bottom: 17px;
}
.main-measurement__form input[type="text"]::-webkit-input-placeholder,
.main-measurement__form input[type="phone"]::-webkit-input-placeholder,
.main-measurement__form input[type="mail"]::-webkit-input-placeholder {
  color: #ffffff;
}
.main-measurement__form input[type="text"]:-ms-input-placeholder,
.main-measurement__form input[type="phone"]:-ms-input-placeholder,
.main-measurement__form input[type="mail"]:-ms-input-placeholder {
  color: #ffffff;
}
.main-measurement__form input[type="text"]::-ms-input-placeholder,
.main-measurement__form input[type="phone"]::-ms-input-placeholder,
.main-measurement__form input[type="mail"]::-ms-input-placeholder {
  color: #ffffff;
}
.main-measurement__form input[type="text"]::placeholder,
.main-measurement__form input[type="phone"]::placeholder,
.main-measurement__form input[type="mail"]::placeholder {
  color: #ffffff;
}
.main-measurement__form .container {
  width: 100%;
  padding-bottom: 39px;
}
.main-measurement__form input[type="submit"] {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 19px 22px;
}
.main-measurement__form label:last-child {
  color: #ffffff;
}
.main-measurement__form input[type="submit"] {
  margin-left: 1fr;
}
.main-contacts__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-column-gap: 58px;
  grid-row-gap: 48px;
  margin: 0 auto;
  width: 520px;
}
.main-contacts__form .item-1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}
.main-contacts__form .item-2 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}
.main-contacts__form .item-3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}
.main-contacts__form .item-4 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
  text-align: center;
}
.main-contacts__form .item-5 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 4;
  text-align: center;
}
.main-contacts__form .main-contacts__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: rgba(255, 255, 255, 0.5);
}
.main-contacts__form input[type="text"],
.main-contacts__form input[type="phone"],
.main-contacts__form input[type="textarea"] {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  background-color: transparent;
  color: #ffffff;
}
.main-contacts__form input[type="mail"] {
  margin-bottom: 17px;
}
.main-contacts__form input[type="text"]::-webkit-input-placeholder,
.main-contacts__form input[type="phone"]::-webkit-input-placeholder,
.main-contacts__form input[type="textarea"]::-webkit-input-placeholder {
  color: #ffffff;
}
.main-contacts__form input[type="text"]:-ms-input-placeholder,
.main-contacts__form input[type="phone"]:-ms-input-placeholder,
.main-contacts__form input[type="textarea"]:-ms-input-placeholder {
  color: #ffffff;
}
.main-contacts__form input[type="text"]::-ms-input-placeholder,
.main-contacts__form input[type="phone"]::-ms-input-placeholder,
.main-contacts__form input[type="textarea"]::-ms-input-placeholder {
  color: #ffffff;
}
.main-contacts__form input[type="text"]::placeholder,
.main-contacts__form input[type="phone"]::placeholder,
.main-contacts__form input[type="textarea"]::placeholder {
  color: #ffffff;
}
.main-contacts__form .container {
  width: 100%;
}
.main-contacts__form input[type="submit"] {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 20px 60px;
}
.main-contacts__form label:last-child {
  color: #ffffff;
}
.main-contacts__form input[type="submit"] {
  margin-left: 1fr;
}
.main-repair__price,
.main-clients__info {
  position: absolute;
  font-family: "yesevaone", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  line-height: 138.6%;
  /* 24.948px */
  text-transform: uppercase;
  font-size: 18px;
  background-color: #e3b873;
  z-index: 10;
  bottom: -25px;
  left: 0px;
}
.main-repair__price {
  padding: 17px 21px;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(227, 184, 115, 0.3);
          box-shadow: 5px 5px 10px 0px rgba(227, 184, 115, 0.3);
}
.main-clients__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 5px 5px 20px 0px rgba(227, 184, 115, 0.5);
          box-shadow: 5px 5px 20px 0px rgba(227, 184, 115, 0.5);
}
.main-clients__info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 18px;
}
.main-clients__info div:first-child {
  border-right: 1px solid #ffffff;
}
.main-clients__info div svg {
  margin-right: 15px;
}
.main-gallery__links {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-gallery__links > li {
  margin-bottom: 25px;
}
.main-gallery__links li a {
  font-family: "nunitosans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FFF;
  font-size: 20px;
  text-decoration: none;
}
.main-gallery__links li a:hover {
  color: #cccccc;
}
.main-gallery__links li a:active {
  color: #b3b3b3;
}
.main-gallery__links li a.active-btn {
  display: inline-block;
  border-bottom: 1px solid #e3b873;
  font-family: "nunitosans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #E3B873;
  font-size: 20px;
  line-height: 120%;
  /* 38.192px */
}
.header-section:not(button) {
  font-family: "nunitosans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
  line-height: normal;
}
.header-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 83px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-projects__content {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-column-gap: 50px;
}
.main-projects__container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  grid-column-gap: 29px;
  grid-row-gap: 34px;
}
.main-projects__left {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  padding-top: 404px;
}
.main-project__top {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}
.main-projects__slider-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 14px;
  margin-top: 80px;
}
.main-video__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-measurement__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main-repair__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}
.main-measurement .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main-gallery .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-gallery__images {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 43px;
}
.main-clients__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header,
.main,
.footer {
  min-width: 1440px;
}
.container {
  max-width: 1263px;
  margin: 0 auto;
}
.header,
.footer {
  background-color: #131313;
  height: 83px;
}
.home-bg {
  background: center / cover no-repeat rgba(0, 0, 0, 0.7) url(../images/home_bg.jpg);
  height: 707px;
}
.main-home_bg-color {
  height: 707px;
}
.main-home {
  position: relative;
  padding-left: 42px;
  z-index: 100;
}
.main-projects {
  height: 1074px;
  background-color: #131313;
}
.main-projects__content {
  padding-left: 42px;
}
.main-projects__nav {
  padding-top: 107px;
  padding-bottom: 52px;
}
.main-projects__right {
  padding-right: 42px;
}
.main-projects__slider {
  background: no-repeat url("../images/slider_1.jpg");
  width: 679px;
  height: 482px;
}
.main-video_bg {
  position: relative;
  margin: 0 auto;
  width: 817px;
  height: 434px;
  margin-top: -226px;
  margin-bottom: 62px;
  background: center / cover no-repeat url("../images/video_bg.jpg");
}
.main-video__video {
  width: 817px;
  height: 434px;
}
.main-repair__block {
  max-width: 392px;
  height: 421px;
  padding-left: 31px;
  padding-right: 31px;
}
.main-repair__block.redecorating {
  background: center no-repeat url("../images/redecorating.jpg");
  background-size: cover;
}
.main-repair__block.overhaul {
  background: center no-repeat url("../images/overhaul.jpg");
  background-size: cover;
}
.main-repair__block.designer {
  background: center no-repeat url("../images/designer.jpg");
  background-size: cover;
}
.main-repair__content,
.main-clients__block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.03);
          box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.03);
}
.main-repair__content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  width: 330px;
  position: relative;
  background-color: #ffffff;
  padding-top: 25px;
  padding-left: 34px;
  -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.03);
          box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.03);
  top: 294px;
}
.main-repair__list {
  padding-bottom: 49px;
}
.main-repair__list li:before {
  display: inline-block;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #959595;
  margin-right: 6px;
  margin-bottom: 1px;
}
.main-measurement {
  padding-top: 311px;
  background: left top / auto no-repeat url("../images/measurements_bg.png");
  background-position-y: 311px;
}
.main-measurement__list {
  list-style: none;
  font-family: "nunitosans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #363636;
  font-size: 14px;
  line-height: normal;
  margin-top: 110px;
  margin-bottom: 54px;
  padding: 0;
}
.main-measurement__list li {
  position: relative;
  margin-bottom: 86px;
  padding-left: 67px;
}
.main-measurement__list li:before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 41px;
  height: 41px;
  background-color: #e3b873;
  border-radius: 30px;
  border: 8px solid #ffffff;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.15);
          box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.15);
}
.main-measurement__list li:nth-child(1):before,
.main-measurement__list li:nth-child(2):before,
.main-measurement__list li:nth-child(3):before,
.main-measurement__list li:nth-child(4):before {
  position: absolute;
  font-family: "yesevaone", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  line-height: 138.6%;
  /* 24.948px */
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  left: 0;
  top: -18px;
}
.main-measurement__list li:nth-child(1):before {
  content: "01";
}
.main-measurement__list li:nth-child(2):before {
  content: "02";
}
.main-measurement__list li:nth-child(3):before {
  content: "03";
}
.main-measurement__list li:nth-child(4):before {
  content: "04";
}
.main-measurement__left {
  width: 506px;
  background-color: #131313;
  padding: 28px 49px;
}
.main-measurement__help-save {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-top: 38px;
  padding-bottom: 242px;
}
.main-measurement__help-save p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "nunitosans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #E3B873;
  text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
  font-size: 18px;
  line-height: 143.22%;
  /* 25.78px */
  padding-right: 163px;
}
.main-measurement__help-save p span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75px;
  height: 75px;
  background-color: #e3b873;
  border-radius: 100%;
  margin-right: 25px;
}
.main-gallery {
  background: center / cover no-repeat url("../images/gallery_bg.jpg");
  height: 864px;
}
.main-galler__gradient {
  background: linear-gradient(110deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
  height: 864px;
}
.main-gallery__nav {
  padding-top: 137px;
}
.main-gallery__img:first-child {
  margin-bottom: 39px;
}
.main-gallery__column:first-child {
  margin-top: -41px;
}
.main-gallery__column:last-child {
  margin-top: -112px;
}
.main-clients {
  position: relative;
  padding-bottom: 381px;
  z-index: 10;
}
.main-clients::before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 381px;
  opacity: .05;
  z-index: 1;
  background: bottom left / auto no-repeat url("../images/clients_bg_left.png"), bottom right / auto no-repeat url("../images/clients_bg_right.png");
}
.main-clients__block {
  position: relative;
  width: 376px;
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 31px;
  padding-bottom: 128px;
  -webkit-box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.04);
}
.main-contacts {
  position: relative;
  background: center / cover no-repeat url("../images/contacts_bg.jpg");
}
.main-contacts_bg {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3.47%, rgba(24, 24, 24, 0.9)), to(rgba(24, 24, 24, 0.72)));
  background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
}
.main-contacts__form-block {
  position: absolute;
  width: 883px;
  height: 445px;
  background-color: #181818;
  top: -222px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 200;
}
.main-contacts__ico {
  text-align: center;
}
.main-video__video,
.main-home_bg-color {
  background-color: rgba(0, 0, 0, 0.7);
}
@media (max-width: 375px) {
  .header,
  .main,
  .footer {
    min-width: 375px;
  }
  .main-projects__slider,
  .main-video_bg,
  .main-video__video,
  .main-repair__block,
  .main-gallery__images,
  .main-contacts__map {
    width: 340px;
  }
  .container {
    padding-left: 18px;
    padding-right: 18px;
  }
  .header-nav,
  .header-button {
    display: none;
  }
  .header,
  .main,
  .container {
    width: 375px;
  }
  .main-home_bg-color,
  .home-bg {
    height: 476px;
  }
  .main-home__h1 {
    padding-top: 85px;
    font-size: 23px;
    line-height: 132.825%;
    /* 30.55px */
  }
  .main-home__text {
    font-size: 14px;
    line-height: 135.84%;
    /* 19.018px */
    padding-bottom: 54px;
    width: 100%;
  }
  .main-home__button {
    width: 100%;
    margin-bottom: 26px;
  }
  .main-projects {
    height: auto;
  }
  .main-projects__content {
    position: relative;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-column-gap: 0;
  }
  .main-projects__container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 64;
    grid-row-gap: 27px;
  }
  .main-projects__left {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    padding-top: 36px;
  }
  .main-projects__right {
    padding-right: 0;
  }
  .main-project__top {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    padding-bottom: 63px;
  }
  .main-projects__nav {
    display: none;
  }
  .main-projects__slider-nav {
    position: absolute;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    top: 42.5%;
    width: 340px;
    z-index: 400;
  }
  .main-projects__slider-nav button:first-child svg,
  .main-projects__slider-nav button:last-child svg {
    display: none;
  }
  .main-projects__slider-nav button:first-child,
  .main-projects__slider-nav button:last-child {
    width: 36px;
    height: 36px;
    background-color: #e3b873;
    border-radius: 100%;
  }
  .main-projects__slider-nav button:first-child:hover,
  .main-projects__slider-nav button:last-child:hover {
    background-color: #ebce9d;
  }
  .main-projects__slider-nav button:first-child:active,
  .main-projects__slider-nav button:last-child:active {
    background-color: #dba249;
  }
  .main-projects__slider-nav button:first-child:focus,
  .main-projects__slider-nav button:last-child:focus {
    -webkit-box-shadow: 0px 0px 0px 1px #ffffff;
            box-shadow: 0px 0px 0px 1px #ffffff;
  }
  .main-projects__slider-nav button:first-child {
    margin-left: 14px;
  }
  .main-projects__slider-nav button:first-child:after {
    position: relative;
    display: block;
    content: "";
    background-image: url('data:image/svg+xml,<svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.56569 11.478L1.08689 5.99975L6.56569 0.521471L7.34778 1.30348L2.65107 5.99975L7.34778 10.696L6.56569 11.478Z" fill="white" stroke="white" stroke-width="0.75"/></svg>');
    width: 6.26px;
    height: 11px;
    left: 30%;
  }
  .main-projects__slider-nav button:last-child {
    margin-right: 14px;
  }
  .main-projects__slider-nav button:last-child:after {
    position: relative;
    display: block;
    content: "";
    background-image: url('data:image/svg+xml,<svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.56569 11.478L1.08689 5.99975L6.56569 0.521471L7.34778 1.30348L2.65107 5.99975L7.34778 10.696L6.56569 11.478Z" fill="white" stroke="white" stroke-width="0.75"/></svg>');
    width: 6.26px;
    height: 11px;
    left: 40%;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .main-projects__slider-nav > button:not(:first-child):not(:last-child) {
    display: none;
  }
  .main-projects__h2 {
    padding-top: 36px;
    font-size: 22px;
    line-height: 138.6%;
    /* 30.492px */
    letter-spacing: -1.54px;
    text-align: center;
  }
  .main-projects__p {
    padding-top: 22px;
    font-size: 11px;
    line-height: 158.48%;
    /* 17.433px */
    text-align: center;
    padding-left: 22px;
    padding-right: 22px;
  }
  .main-projects__h3 {
    font-size: 14px;
  }
  .main-projects__text {
    font-size: 11px;
    line-height: 135.84%;
    /* 14.942px */
  }
  .main-projects__slider {
    background: center / cover no-repeat url(../images/slider_1.jpg);
    height: 241px;
  }
  .main-video {
    background-color: #181818;
    padding-bottom: 28px;
  }
  .main-video__wraper,
  .main-repair__wraper,
  .main-clients__wraper {
    margin: 0 auto;
    padding-top: 19px;
    padding-bottom: 40px;
  }
  .main-video__h2 {
    padding-top: 58px;
    font-size: 22px;
  }
  .main-video_bg {
    height: 207px;
    margin-top: 0;
    margin-bottom: 0px;
  }
  .main-video__video {
    height: 207px;
  }
  .main-video__button {
    width: 37px;
    height: 37px;
  }
  .main-video__button .play-ico {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 10px solid #ffffff;
  }
  .main-video__request {
    background-color: #181818;
  }
  .main-video__p {
    width: 100%;
    padding-bottom: 61px;
    color: #ffffff;
    font-size: 11px;
    line-height: 169.8%;
    /* 18.678px */
  }
  .main-video__p::before {
    padding-bottom: 21px;
  }
  .main-video__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 83px;
  }
  .main-video__form .main-video__label {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    color: rgba(255, 255, 255, 0.5);
  }
  .main-video__form input[type="text"] {
    margin-bottom: 63px;
  }
  .main-video__form input[type="phone"],
  .main-video__form input[type="text"] {
    background-color: #181818;
    margin-right: 0px;
    border-color: #ffffff;
  }
  .main-video__form input[type="text"]::-webkit-input-placeholder,
  .main-video__form input[type="phone"]::-webkit-input-placeholder {
    color: #ffffff;
  }
  .main-video__form input[type="text"]:-ms-input-placeholder,
  .main-video__form input[type="phone"]:-ms-input-placeholder {
    color: #ffffff;
  }
  .main-video__form input[type="text"]::-ms-input-placeholder,
  .main-video__form input[type="phone"]::-ms-input-placeholder {
    color: #ffffff;
  }
  .main-video__form input[type="text"]::placeholder,
  .main-video__form input[type="phone"]::placeholder {
    color: #ffffff;
  }
  .main-video__form input[type="submit"] {
    margin-bottom: -26px;
  }
  .main-video__form .container {
    padding-top: 28px;
    padding-bottom: 62px;
  }
  .main-video__form .container label {
    color: #ffffff;
  }
  .main-video__form input[type="submit"] {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }
  .main-repair__h2 {
    font-size: 22px;
  }
  .main-repair__wraper {
    padding-top: 17px;
    padding-bottom: 40px;
  }
  .main-repair__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 178px;
  }
  .main-repair__block {
    height: 365px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .main-repair__content {
    margin: 0;
    width: 241px;
    padding-top: 21px;
    padding-left: 31px;
    top: 223px;
  }
  .main-repair__h3 {
    font-size: 15px;
    padding-bottom: 10px;
  }
  .main-repair__list {
    font-size: 13px;
    line-height: 169.8%;
    /* 22.074px */
  }
  .main-repair__price {
    font-size: 15px;
  }
  .main-measurement {
    display: none;
  }
  .main-gallery {
    margin-top: 174px;
    background: none;
    height: auto;
  }
  .main-galler__gradient {
    background: none;
    height: auto;
  }
  .main-gallery .container {
    position: relative;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 500;
  }
  .main-gallery__nav {
    padding-top: 0;
  }
  .main-gallery__h2 {
    font-size: 22px;
    padding-bottom: 24px;
    text-align: center;
  }
  .main-gallery__links {
    display: none;
  }
  .main-gallery__images {
    height: 242px;
    margin-bottom: -121px;
    background: center / contain no-repeat url("../images/gallery_1_375px.jpg");
  }
  .main-gallery__images .main-gallery__column {
    display: none;
  }
  .main-clients {
    display: none;
  }
  .main-contacts {
    position: relative;
    background: none;
  }
  .main-contacts .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .main-contacts_bg {
    background: #181818;
  }
  .main-contacts__form-block {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #181818;
    margin-top: 0px;
    padding-top: 0px;
    top: 0;
    z-index: 200;
  }
  .main-contacts__form-block .main-contacts__h2 {
    padding-top: 173px;
    padding-bottom: 52px;
    color: #FFF;
    font-size: 20px;
  }
  .main-contacts__form {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 0 auto;
    width: 100%;
  }
  .main-contacts__form .item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    padding-bottom: 63px;
  }
  .main-contacts__form .item-2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    padding-bottom: 63px;
  }
  .main-contacts__form .item-3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    padding-bottom: 21px;
  }
  .main-contacts__form .item-4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
    padding-bottom: 67px;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
  }
  .main-contacts__form .item-5 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 5;
    width: 100%;
    padding-bottom: 46px;
    padding-left: 0;
    padding-right: 0;
  }
  .main-contacts__form .item-5 input[type="submit"] {
    width: 100%;
  }
  .secondary-color {
    width: 100%;
    font-size: 18px;
    padding-top: 41px;
    padding-bottom: 23px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .main-contacts__ico {
    margin: 0 auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-bottom: 48px;
  }
  .main-contacts__map {
    height: 256px;
    background: center / cover no-repeat url("../images/contacts_map.jpg");
    padding-bottom: 0;
  }
  .main-contacts__map img {
    display: none;
  }
  .footer {
    display: none;
  }
}
