.title{
    .font-title(@secondary-color)
}

//Section Home
.main-home__h1{
    .font-title(@primary-color);
    font-family: @font-yeseva;
    font-size: 40px;
    margin: 0;
    padding-top: 194px;
    padding-bottom: 19px;

    & span {
        color: @secondary-color;
    }
}

//Section Projects
.main-projects__h2{
    .font-title(@secondary-color);
    font-size: 27px;
    letter-spacing: -1.89px;
    margin: 0;
    padding-top: 176px;
}

.main-projects__h3{
    .font-title(@secondary-color);
    font-size: 18px;
}

//h2 for video, repair
.main-video__h2,
.main-repair__h2,
.main-clients__h2
{
    text-align: center;
    font-size: 20px;
    margin: 0;
}

//Section video
.main-video__h2{
    .font-title(@primary-color);
    padding-top: 92px;
}

//Section Repair
.main-repair__h2,
.main-clients__h2
{
    .font-title(@forth-color);
}

.main-repair__h3,
.main-claients__h3{
    .font-title(@third_color);
    text-transform: capitalize;
    margin: 0;
}

.main-repair__h3{
    .font-title(@third_color);
    font-size: 18px;
    text-transform: capitalize;
    margin: 0;
    padding-bottom: 13px;
}

//Section Measurement
.main-measurement__h2{
    width: 220px;
    margin: 0 auto;
    padding-top: 28px;
    padding-bottom: 39px;
    .font-text();
    color: @primary-color;
    text-align: center;
    font-size: 18px;
    line-height: 143.22%; /* 25.78px */
}

//Section Gallery

.main-gallery__h2{
    .font-title(@secondary-color);
    padding-bottom: 47px;
}

//Section Clients
.main-clients__h2{
    padding-top: 110px;
}
.main-claients__h3{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-left: 100px;
    padding-bottom: 40px;
    &::before{
        position: absolute;
        content: "";
        width: 76px;
        height: 76px;
        border-radius: 100%;
        left: 0;
    }
}

.client-1::before{
    background: center / contain no-repeat url("../images/client_1.jpg");
}

.client-2::before{
    background: center / contain no-repeat url("../images/client_2.jpg");
}

.client-3::before{
    background: center / contain no-repeat url("../images/client_3.jpg");
}

//Section Contacts
.main-contacts__h2{
    .font-title(@primary-color);
    text-align: center;
    font-size: 20px;
    padding-top: 34px;
    padding-bottom: 45px;
}